<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div class="register">
        <h1>Register</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/register_user" method="POST">
            <div class="duo">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="">
            </div>
            <div class="duo">
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="">
            </div>
            <div class="duo">
                <label for="email">Email:</label>
                <input type="text" name="email" id="">
            </div>
            <div class="duo">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
            </div>
            <div class="duo">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <div class="login">
        <h1>Login</h1>
        <form action="/login_user", method="POST">
            <div class="duo">
                <label for="email">Email:</label>
                <input type="text" name="email" id="">
            </div>
            <div class="duo">
                <label for="password">Password:</label>
                <input type="password" name="password" id="">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>