body {
    background-color: rgb(50, 50, 50);
    text-align: center;
}
h1, h2, h3, p {
    color: white;
}
.border {
    border: solid white 2px;
    margin: auto auto;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.box {
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    text-align: center;
}
.box, .border {
    width: fit-content;
    padding: 5px;
}
.text {
    padding: 40px 0px;
}
.submit {
    margin-top: 20px;
}