<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <h1>Are you sure you want to delete the following course?</h1>
    <p>Name: {{course.name}}</p>
    <p>Description: {{course.description}}</p>
    <a href="/">No</a>
    <form action="/destroy/{{course.id}}" method="get">
        {% csrf_token %}
        <button type="submit">Yes! I want to delete this</button>
    </form>
</body>
</html>