body {
    margin: 2em;
}
.submit {
    width: 8em;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-style: solid;
    border-radius: 30px;
    border-color: #01dec8;
    background-color: #e6e6e6;
    color: #01dec8;

}
.plus {
    height: 1.6em;
    width: 1.6em;
    font-size: 1.6em;
    margin: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: #01dec8;
    background-color: #01dec8;
    color: white;
}
.createAccount {
    margin: 10px;
    width: 10em;
    height: 1.7em;
    font-size: 1.3em;
    /* border-style: solid;
    border-width: .15em;
    border-color: black; */
    border: .15em solid black;
    background-color: #5295FA;
    color: white;
    box-shadow: 10px 10px black;

}