<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/attempt_active.css') }}">
    </head>
    <body onload="setTime()">    
        <div class="nav-bar space-between">
            <h1>Puzzle<span class="green1">Ladder</span></h1>
            <div class="nav-items flex">
                <a href="/play_setup/{{session['username']}}">Play</a>
                <a href="">Leaderboards</a>
                <a href="/">Logout</a>
            </div>
        </div>
        <div class="content flex-column">
            <!-- <h1>{{session['time']}}</h1>
            <h1>{{session['difficulty']}}</h1> -->
            <input type="hidden" name="time" id="time" value="{{session['time']}}">
            <input type="hidden" name="difficulty" id="difficulty" value="{{session['difficulty']}}">
            <input type="hidden" name="difficulty" id="board_color" value="{{session['board_color']}}">

            

            <span class="timer">
                <span id="counter"></span>
            </span>
            

            <table id="board"></table>
            <button onclick="getPuzzle()">Random Chess Puzzle</button>
        </div>
    </body>
    <script src="{{ url_for('static', filename='/js/attempt_active.js') }}"></script>
    </html>