* {
    margin: 0px;
    padding: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 10px 0px 10px;
}

.col {
    flex: 1;
    height: 20px;
    padding: 10px;
    background-color: teal;
    color: white;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3
}