<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="flex">
        <form action="/add_author/" method="post">
            {% csrf_token %}
            <h1>Add an Author</h1>
            <div class="duo">
                <label for="first_name">First Name</label>
                <input name="first_name" type="text">
            </div>
            <div class="duo">
                <label for="last_name">Last Name</label>
                <input name="last_name" type="text">
            </div>
            <div class="duo">
                <label for="notes">Notes</label>
                <textarea name="notes" id="" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Add</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}} {{author.last_name}}</td>
                        <td><a href="/author/{{author.id}}">View</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/">Go To Books</a>
</body>
</html>