* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* STYLE TAGS */
.flex {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}

/* GENERAL TAGS */
h1, h2, h3 {
    color: white;
}
body {
    background-image: url("images/background.png");
    background-size: 300px;
}
.nav-bar {

    background-color: black;
    padding-left: 20%;
    padding-right: 20%;
}
.nav-bar > h1, .nav-items {
    padding: 10px;
    color: white;
    margin: auto 0;
    gap: 40px;
}
.nav-items > a {
    color: white;
    text-decoration: none;
}
.nav-bar > h1 {
    min-width: 400px;
}
.green1 {
    color: #779556;
}
.content {
    height: 100%;
    min-width: 700px;
    margin: 0 20%;
    background-color: rgb(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 0px 40px 0px;
}

/* PAGE TAGS */
table {
    border-collapse: collapse;
    margin: 25px auto;
    height: fit-content;
    width: fit-content;
}
img {
    height: 60px;
    width: 60px;
    margin: 0;
}
td {
    background-color: white;
    padding: 0;
    width: fit-content;
    height: fit-content;
}
.green {
    background-color: #779556;
}
.blue {
    background-color: #4d74ad;
}
.red {
    background-color: #ac5046;
}
.timer {

    font-size: 50px;
    font-weight: 700;
    color: white;
    margin: 50px auto 0 auto;
}
button {
    width: fit-content;
    margin: 0 auto;
}